@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body, html {
  padding-top: 46px;
  font-family: "Poppins";
  overflow-x: hidden;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 30px 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #1C1E53;
  height: 92px;
  display: flex;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 10px 5px grey;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar_link {
  color: #BBBBCB;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.navbar_link:hover {
  color: #ffffff;
}
.navbar_btn {
  padding: 14px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 40px;
  background-color: transparent;
  transition: 0.3s;
}
.navbar_btn a {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
.navbar_btn:hover {
  background-color: rgba(244, 246, 252, 0.2);
  border-color: transparent;
}
.navbar .burger_menu {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.navbar .burger_menu span {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

footer {
  background-color: #1C1E53;
  padding: 100px 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.footer_left {
  max-width: 510px;
  width: 100%;
}
.footer_left p {
  font-size: 16px;
  line-height: 28px;
  max-width: 400px;
  color: #ffffff;
  opacity: 0.8;
  margin: 24px 0 80px 0;
}
.footer_card {
  width: 100%;
  background-color: #FCD980;
  padding: 18px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_card h4 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
.footer_card h4 span {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.8;
  font-weight: 200;
}
.footer_right {
  max-width: 510px;
  width: 100%;
}
.footer_right h2 {
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
.footer_right p {
  font-size: 16px;
  max-width: 400px;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 4200;
  margin: 14px 0 28px 0;
}
.footer_icons {
  display: flex;
  align-items: center;
  gap: 26px;
}
.footer_icon {
  width: 22px;
  height: 22px;
}

.pricing_page__btn {
  border: none;
  background-color: transparent;
}
.pricing_page__btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #ffffff;
}
.pricing_page__btn a:hover {
  color: #FCD980;
}

.pointer {
  letter-spacing: -5px;
  display: flex;
  align-items: center;
}

.home_setion {
  padding: 120px 0;
  background-color: #1C1E53;
}

.building {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.building_text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 550px;
}
.building_text h1 {
  font-size: 54px;
  line-height: 74px;
  color: #ffffff;
}
.building_text p {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.7;
  margin: 24px 0 48px 0;
}
.building_btns {
  display: flex;
  align-items: center;
  gap: 40px;
}
.building_btn {
  border: none;
  background-color: transparent;
}
.building_btn a {
  color: #ffffff;
  font-size: 16px;
}
.building_btn span {
  letter-spacing: -5px;
}
.building_img {
  max-width: 630px;
}
.building_img img {
  width: 100%;
}

.home_project {
  padding: 80px 0;
}
.home_project .project {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.home_project .project_bigcard {
  background-image: url(../images/home/home_Card_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 843px;
  width: 100%;
  height: 600px;
}
.home_project .project_bigcard__text {
  background: linear-gradient(-40deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  width: 405px;
  height: 100%;
  padding: 70px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.home_project .project_bigcard__text h3 {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.home_project .project_bigcard__text p {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 16px 0 40px 0;
  opacity: 0.8;
}
.home_project .project_cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.home_project .project_card {
  max-width: 405px;
  width: 100%;
  height: 284px;
}
.home_project .project_card_one {
  background-image: url(../images/home/home_card_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 405px;
  width: 100%;
  height: 284px;
}
.home_project .project_card_bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(-40deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  padding: 50px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.home_project .project_card_bg h3 {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  max-width: 270px;
  margin-bottom: 10px;
}
.home_project .project_card__two {
  max-width: 405px;
  width: 100%;
  height: 284px;
  background-image: url(../../images/home/home_Card_3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home_design {
  padding: 80px 0;
  background-color: #F4F6FC;
}
.home_design .design {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home_design .design span {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
.home_design .design h2 {
  font-size: #282938;
  font-size: 48px;
  line-height: 64px;
  max-width: 630px;
  text-align: center;
  margin: 6px 0 40px 0;
}
.home_design .design_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
}
.home_design .design_card {
  max-width: 405px;
  height: 316px;
  width: 100%;
  padding: 48px 30px 48px 48px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.home_design .design_card span {
  width: 35px;
  height: 35px;
}
.home_design .design_card h4 {
  color: #282938;
  font-size: 24px;
  line-height: 36px;
  margin: 25px 0 12px 0;
}
.home_design .design_card p {
  color: #282938;
  opacity: 0.7;
  font-size: 16px;
  line-height: 28px;
}

.home_clients {
  padding: 80px 0;
  background-color: #F4F6FC;
}
.home_clients .clients {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.home_clients .clients_left {
  max-width: 327px;
  width: 100%;
}
.home_clients .clients_left h3 {
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  margin-bottom: 16px;
}
.home_clients .clients_left p {
  font-size: 16px;
  line-height: 26px;
  color: #282938;
  opacity: 0.7;
}
.home_clients .clients_right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 840px;
}
.home_clients .clients_right h4 {
  font-size: 32px;
  line-height: 48px;
  color: #282938;
  margin-bottom: 40px;
}
.home_clients .clients_content {
  display: flex;
  align-items: center;
  max-width: 840px;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.home_clients .clients_span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home_clients .clients_span span {
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 0 15px;
  font-size: 32px;
  color: #282938;
}
.home_clients .clients_span span:hover {
  background-color: #5239FA;
  color: #ffffff;
  opacity: 1;
}
.home_clients .clients_card {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.home_clients .clients_card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.home_clients .clients_card h5 {
  color: #282938;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 150px;
  font-size: 18px;
  line-height: 24px;
}
.home_clients .clients_card h5 span {
  font-size: 12px;
  font-weight: 400;
}

.contact {
  padding: 80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact h1 {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
  align-items: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.contact p {
  text-align: center;
  color: #696A74;
  max-width: 560px;
}
.contact .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #F4F6FC;
  border-radius: 12px;
  background: var(--Grey, #F4F6FC);
  padding: 50px 70px 70px 70px;
  max-width: 1060px;
  width: 100%;
  margin: 60px auto;
  gap: 32px;
}
.contact .form .box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
.contact .form .box label {
  max-width: 438px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact .form .box label h4 {
  margin-bottom: 10px;
  color: black;
}
.contact .form .box label input {
  width: 100%;
  display: inline-flex;
  padding: 24px 32px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #D6D8DD;
  border-radius: 8px;
  background-color: #F4F6FC;
  outline: none;
}
.contact .form .box .message {
  max-width: 940px;
  width: 100%;
}
.contact .form .box .message .textarea {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  background: transparent;
  height: 140px;
  border-color: rgba(0, 0, 0, 0.1215686275);
}

@media screen and (max-width: 1200px) {
  .home_project .project {
    flex-direction: column;
  }
  .home_project .project_cards {
    flex-direction: row;
    align-items: center;
    max-width: 843px;
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .contact .form {
    align-items: center;
  }
  .contact .form .box {
    justify-content: center;
  }
  .contact .form .box label {
    align-items: center;
  }
  .contact .form .box label h4 {
    font-size: 24px;
  }
  .building_text h1 {
    font-size: 44px;
    line-height: 60px;
    max-width: 400px;
  }
  .home_clients .clients_right {
    max-width: 520px;
  }
  .home_clients .clients_right h4 {
    font-size: 24px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer_left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_left p {
    text-align: center;
  }
  .footer_right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_right p {
    text-align: center;
  }
}
@media screen and (max-width: 978px) {
  .navbar_items {
    gap: 24px;
  }
  .navbar_btn {
    padding: 10px 32px;
  }
  .building {
    flex-direction: column;
  }
  .building_text {
    align-items: center;
    text-align: center;
    max-width: 630px;
  }
  .building_text h1 {
    max-width: 540px;
    text-align: center;
  }
  .home_clients .clients {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home_clients .clients_left {
    align-items: center;
    text-align: center;
    max-width: 400px;
  }
  .home_clients .clients_right {
    text-align: center;
    max-width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .navbar_items {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 92px);
    padding: 40px 20px;
    width: 60vw;
    top: 92px;
    right: 0;
    background-color: rgba(0, 2, 56, 0.768627451);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
  }
  .navbar_link {
    padding-left: 20px;
    font-size: 20px;
  }
  .navbar .burger_menu {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
  .navbar_menu .navbar_items {
    transform: translateX(0) !important;
  }
  .navbar_menu .burger_menu__top {
    position: absolute;
    transform: rotate(135deg) !important;
  }
  .navbar_menu .burger_menu__center {
    position: absolute;
    transform: rotate(-135deg) !important;
  }
  .navbar_menu .burger_menu__bottom {
    display: none;
  }
  .building_text {
    max-width: 500px;
  }
  .building_text h1 {
    font-size: 36px;
    line-height: 44px;
    max-width: 450px;
  }
  .home_project {
    padding: 60px 0;
  }
  .home_project .project_bigcard {
    max-width: 505px;
    height: 324px;
  }
  .home_project .project_bigcard__text {
    max-width: 505px;
    width: 100%;
  }
  .home_project .project_bigcard__text p {
    margin: 10px 0 20px 0;
  }
  .home_project .project_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }
  .home_project .project_card_one {
    max-width: 505px;
    width: 100%;
  }
  .home_project .project_card__two {
    max-width: 505px;
    width: 100%;
  }
  .home_clients .clients-left {
    max-width: 350px;
  }
  .home_clients .clients-left h3 {
    font-size: 32px;
    line-height: 44px;
  }
  .home_clients .clients_right {
    max-width: 540px;
  }
  .contact .form {
    padding: 20px;
  }
  .footer h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  .navbar_items {
    width: 100vw;
    align-items: center;
  }
  .navbar_link {
    padding: 0;
  }
  .home_setion {
    padding: 80px 0;
  }
  .building_text {
    max-width: 370px;
  }
  .building_text h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .home_design .design h2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 500px;
  }
  .home_clients .clients_left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home_clients .clients_left h3 {
    font-size: 28px;
    line-height: 36px;
    max-width: 300px;
  }
  .home_clients .clients_right {
    max-width: 440px;
  }
  .home_clients .clients_right h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .contact h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .building_btns {
    flex-direction: column;
  }
  .home_project .project_bigcard__text {
    padding: 20px !important;
  }
  .home_project .project_bigcard h3 {
    font-size: 20px;
    line-height: 28px;
    max-width: 300px;
  }
  .home_project .project_card_bg {
    padding: 20px;
  }
  .home_project .project_card_bg h3 {
    font-size: 20px;
  }
  .home_design .design h2 {
    font-size: 28px;
    line-height: 38px;
    max-width: 360px;
  }
  .footer_card {
    flex-direction: column;
    gap: 32px;
  }
  .footer_card h4 {
    text-align: center;
  }
}
.btn_dark {
  padding: 14px 48px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 40px;
  background-color: #282938;
  border: 1px solid transparent;
  transition: 0.3s;
  color: #F4F6FC;
}
.btn_dark:hover {
  background-color: transparent;
  border-color: #282938;
  color: #282938;
}

.btn_yellow {
  padding: 14px 48px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 40px;
  background-color: #FCD980;
  border: 1px solid transparent;
  transition: 0.3s;
}
.btn_yellow:hover {
  background-color: transparent;
  border-color: #FCD980;
  color: #FCD980;
}

.btn_light_black {
  padding: 14px 48px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 40px;
  background-color: #535460;
  border: 1px solid transparent;
  transition: 0.3s;
}
.btn_light_black:hover {
  background-color: transparent;
  border-color: #535460;
  color: #535460;
}

.btn_light_yellow {
  padding: 14px 48px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 40px;
  background-color: #FDE4A6;
  border: 1px solid transparent;
  transition: 0.3s;
}
.btn_light_yellow:hover {
  background-color: transparent;
  border-color: #FDE4A6;
  color: #FDE4A6;
}

@media screen and (max-width: 480px) {
  .btn_dark,
  .btn_light_black,
  .btn_light_yellow,
  .btn_yellow {
    padding: 10px 36px;
  }
}/*# sourceMappingURL=style.css.map */