// 
.pricing_page__btn{
    border: none;
    background-color: transparent;
    a{
        @include flex-items;
        gap: 10px;
        font-size: 16px;
        color: $white-color;
        &:hover{
            color: $yellow-color;
        }
    }
}
.pointer{
    letter-spacing: -5px;
    @include flex-items;
}
.home_setion{
    padding: 120px 0;
    background-color: $tint-blue-color;
}
.building{
    @include flex-items;
    justify-content: space-between;
    gap: 40px;
    &_text{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 550px;
        h1{
            font-size: 54px;
            line-height: 74px;
            color: $white-color;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            color: $white-color;
            opacity: .7;
            margin: 24px 0 48px 0;
        }
    }
    &_btns{
        @include flex-items();
        gap: 40px;
    }
    &_btn{
        border: none;
        background-color: transparent;
        a{
            color: $white-color;
            font-size: 16px;
            &:hover{
                color: $yellow-color;
            }
        }
        span{
            letter-spacing: -5px;
        }
    }
    &_img{
        max-width: 630px;
        img{
            width: 100%;
        }
    }
}


.home_project{
    padding: 80px 0;
    .project_top{
        width: 100%;
        @include flex-items;
        justify-content: space-between;
        margin-bottom: 64px;
        h2{
            color: $dark-blue-color;
            font-size: 48px;
            line-height: 64px;
        }
        &_link{
            color: $dark-blue-color;
            &:hover{
                color: $yellow-color;
            }
        }
    }
    .project{
        @include flex-items;
        gap: 32px;
        width: 100%;
        &_bigcard{
            background-image: url(../images/home/home_Card_1.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            max-width: 843px;
            width: 100%;
            height: 600px;
            &__text{
                background: linear-gradient(-40deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                width: 405px;
                height: 100%;
                padding: 70px 44px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                h3{
                    font-size: 24px;
                    line-height: 36px;
                    color: $white-color;
                }
                p{
                    font-size: 16px;
                    line-height: 28px;
                    color: $white-color;
                    margin: 16px 0 40px 0;
                    opacity: .8;
                }
            }
        }
        &_cards{
            @include flex-items;
            flex-direction: column;
            gap: 32px;
        }
        &_card{
            max-width: 405px;
            width: 100%;
            height: 284px;
        }
        &_card_one{
            background-image: url(../images/home/home_card_2.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            max-width: 405px;
            width: 100%;
            height: 284px;
        }
        &_card_bg{
            width: 100%;
            height: 100%;
            background: linear-gradient(-40deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
            padding: 50px 44px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            h3{
                font-size: 24px;
                line-height: 36px;
                color: $white-color;
                max-width: 270px;
                margin-bottom: 10px;
            }
        }
        &_card__two{
            max-width: 405px;
            width: 100%;
            height: 284px;
            background-image: url(../../images/home/home_Card_3.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}


.home_design{
    padding: 80px 0;
    background-color: $grey-color;
    .design{
        @include flex-items;
        justify-content: center;
        flex-direction: column;
        span{
            font-size: 16px;
            line-height: 28px;
            color: $dark-blue-color;
        }
        h2{
            font-size: $dark-blue-color;
            font-size: 48px;
            line-height: 64px;
            max-width: 630px;
            text-align: center;
            margin: 6px 0 40px 0;
        }
        &_cards{
            @include flex-items;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 32px;
        }
        &_card{
            max-width: 405px;
            height: 316px;
            width: 100%;
            padding: 48px 30px 48px 48px;
            background-color: $white-color;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            transition: .4s;
            border-radius: 10px;
            &:hover{
                box-shadow: 0 0 10px 10px #c0c0c032;
            }
            span{
                width: 35px;
                height: 35px;
            }
            h4{
                color: $dark-blue-color;
                font-size: 24px ;
                line-height: 36px;
                margin: 25px 0 12px 0;
            }
            p{
                color: $dark-blue-color;
                opacity: .7;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}


.home_clients{
    padding: 80px 0;
    background-color: $grey-color;
    .clients{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        &_left{
            max-width: 327px;
            width: 100%;
            h3{
                font-size: 38px;
                line-height: 56px;
                color: $dark-blue-color;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
                line-height: 26px;
                color: $dark-blue-color;
                opacity: .7;
            }
        }
        &_right{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            max-width: 840px;
            h4{
                font-size: 32px;
                line-height: 48px;
                color: $dark-blue-color;
                margin-bottom: 40px;
            }
        }
        &_content{
            @include flex-items;
            max-width: 840px;
            width: 100%;
            justify-content: space-between;
            gap: 30px;
        }
        &_span{
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                border-radius: 50%;
                background-color: $white-color;
                opacity: .6;
                padding: 0 15px;
                font-size: 32px;
                color: $dark-blue-color;
                &:hover{
                    background-color: #5239FA;
                    color: $white-color;
                    opacity: 1;
                }
            } 
        }
        &_card{
            display: flex;
            align-items: flex-start;
            gap: 14px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            h5{
                color: $dark-blue-color;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                max-width: 150px;
                font-size: 18px;
                line-height: 24px;
                span{
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}