@include for-desktop(){
    .home_project{
        .project{
            flex-direction: column;
            &_cards{
                flex-direction: row;
                align-items: center;
                max-width: 843px;
                width: 100%;
            }
        }
    }
}

// =================================== for-large-desktop

@include for-large-desktop(){

    // ===================================== main

    // ======================================== contact
    .contact{
        .form{
            align-items: center;
            .box{
                justify-content: center;
                label{
                    align-items: center;
                    h4{
                        font-size: 24px;
                    }
                }
            }
        }
    }

    //====================================== home
    .building{
        &_text{
            h1{
                font-size: 44px;
                line-height: 60px;
                max-width: 400px;
            }
        }
    }
    .home_clients{
        .clients{
            &_right{
                max-width: 520px;
                h4{
                    font-size: 24px;
                }
            }
        }
    }


    // ===================================== footer
    .footer{
        flex-direction: column;
        align-items: center;
        &_left{
            @include flex-items;
            flex-direction: column;
            p{
                text-align: center;
            }
        }
        &_right{
            @include flex-items;
            flex-direction: column;
            p{
                text-align: center;
            }
        }
    }
}
//  ================================== for-large-tablet
@include for-large-tablet(){
    .navbar{
        &_items{
            gap: 24px;
        }
        &_btn{
            padding: 10px 32px;
        }
    }
    // ===================================== main
    // ====================================== home
    .building{
        flex-direction: column;
        &_text{
            align-items: center;
            text-align: center;
            max-width: 630px;
            h1{
                max-width: 540px;
                text-align: center;
            }
        }
    }

    .home_clients{
        .clients{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_left{
                align-items: center;
                text-align: center;
                max-width: 400px;
            }
            &_right{
                text-align: center;
                max-width: 650px;
            }
        }
    }

}
//  ===================================== for-tablet
@include for-tablet(){
    .navbar {
        &_items{
            position: absolute;
            flex-direction: column;
            align-items: flex-start;
            height: calc(100vh - 92px);
            padding: 40px 20px;
            width: 60vw;
            top: 92px;
            right: 0;
            background-color: #000238c4;
            backdrop-filter: blur(4px);
            transition: all .5s ease-in-out;
            transform: translateX(100%);
        }
        &_link{
            padding-left: 20px;
            font-size: 20px;
        }
        .burger_menu{
            display: flex;
            transition: all .3s ease-in-out;
        }

        
    }
    .navbar_menu {
        .navbar_items{
            transform: translateX(0) !important;
        }
        .burger_menu__top{
            position: absolute;
            transform: rotate(135deg) !important;
        }
        .burger_menu__center{
            position: absolute;
            transform: rotate(-135deg) !important;
        }
        .burger_menu__bottom{
            display: none;
        }
    }

    // ===================================== main

    // ====================================== home

    .building{
        &_text{
            max-width: 500px;
            h1{
                font-size: 36px;
                line-height: 44px;
                max-width: 450px;
            }
        }
    }
    .home_project{
        padding: 60px 0;
        .project_top{
            h2{
                font-size: 28px;
                
            }
        }
        .project{
            &_bigcard{
                max-width: 505px;
                height: 324px;
                &__text{
                    max-width: 505px;
                    width: 100%;
                    p{
                        margin: 10px 0 20px 0;
                    }
                }
            }
            &_cards{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column !important;
            }
            &_card_one{
                max-width: 505px;
                width: 100%;
            }&_card__two{
                max-width: 505px;
                width: 100%;
            }
        }
    }

    .home_clients{
        .clients{
            &-left{
                max-width: 350px;
                h3{
                    font-size: 32px;
                    line-height: 44px;
                }
            }
            &_right{
                max-width: 540px;
            }
        }
    }

    //  ==============================contact
    .contact{
        .form{
            padding: 20px;
        }
    }


    // ================================= footer
    .footer{
        h2{
            font-size: 32px;
        }
    }
}
//  ===================================== for-large-mobile
@include for-large-mobile(){
    .navbar {
        &_items{
            width: 100vw;
            align-items: center;
        }
        &_link{
            padding: 0;
        }
    }
    // ===================================== main

    //======================================== home
    .home_setion{
        padding: 80px 0;
    }
    .building{
        &_text{
            max-width: 370px;
            h1{
                font-size: 28px;
                line-height: 38px;
            }
        }
    }
    .home_design{
        .design{
            h2{
                font-size: 32px;
                line-height: 44px;
                max-width: 500px;
            }
        }
    }
    .home_clients{
        .clients{
            &_left{
                display: flex;
                align-items: center;
                flex-direction: column;
                h3{
                    font-size: 28px;
                    line-height: 36px;
                    max-width: 300px;
                }
            }
            &_right{
                max-width: 440px;
                h4{
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }

    // ===================================== contact
    .contact {
        h1{
            font-size: 28px;
        }
    }


}

// ======================================= for-mobile

@include for-mobile(){

    .building{
        &_btns{
            flex-direction: column;
        }
    }
    .home_project{
        .project_top{
            flex-direction: column;
        }
        .project{
            &_bigcard{
                &__text{
                    padding: 20px !important;
                }
                h3{
                    font-size: 20px;
                    line-height: 28px;
                    max-width: 300px;
                }
            }
            &_card_bg{
                padding: 20px;
                h3{
                    font-size: 20px;
                }
            }
        }
    }
    .home_design{
        .design{
            h2{
                font-size: 28px;
                line-height: 38px;
                max-width: 360px;
            }
        }
    }

    // ===================================== main



    //  ====================================== footer
    .footer{
        &_card{
            flex-direction: column;
            gap: 32px;
            h4{
                text-align: center;
            }
        }
    }
}